.crutchbutton {
    display: inline-block;
#border-style: solid;
#border-width: 1px;
#border-color: rgba(0, 0 ,0 ,0);
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 3;
    background-color: #303030;
#background: -webkit-linear-gradient(top, #4d4d4d 100%,#202020 100%);
    font: 10px verdana;
    color: #b0b0b0;
}
.crutchbutton:hover {
    background-color: #404040;
#box-shadow: 0px 0px 8px -2px #6d6e5d
}
.crutchbutton:active {
    background-color: #606060;
}

.thumbnail {
    height: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    vertical-align: top;
    border: 2px solid #202020;
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
}
.thumbnail img {
    height: 60px;
}
.thumbnail:hover {
    border: 2px solid #ffffff;
}

.brushmenu div {
    float: right;
    display: inline-block;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 3px;
    margin-right: 5px;
    border-radius: 3;
    font: 10px verdana;
    color: #b0b0b0;
}

.brushmenu div:hover {
    color: #ffffff;
}
.brushmenu div:active {
    color: #ffffff;
}
