.crutchbutton {
    display: inline-block;
#border-style: solid;
#border-width: 1px;
#border-color: rgba(0, 0 ,0 ,0);
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 3;
    background-color: #303030;
#background: -webkit-linear-gradient(top, #4d4d4d 100%,#202020 100%);
    font: 10px verdana;
    color: #b0b0b0;
}
.crutchbutton:hover {
    background-color: #404040;
#box-shadow: 0px 0px 8px -2px #6d6e5d
}
.crutchbutton:active {
    background-color: #606060;
}

*/
