.normalWindow {
    position: fixed;
}

.normalWindow .frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-image: url("img/transparent95.png");
    box-shadow: -6px 6px 8px -5px #202020;
    -moz-box-shadow: -6px 6px 8px -5px #202020;
    -webkit-box-shadow: -6px 6px 8px -5px #202020;
}

.normalWindow .titlebar {
    position: absolute;
    width: 0px;
    height: 17px;
    margin-top:8;
    margin-right:10px;
    margin-left:10px;
    color: #b0b0b0;
    font: 12px verdana;
}

.normalWindow .contents {
    position: absolute;
    width: 0px;
    height: 0px;
    margin-top:13px;
    margin-bottom:13px;
    margin-right:13px;
    margin-left:10px;
    color: white;
}

.popup {
    z-index: 100;
    width: 200px;
    height: 400px;
}

.modalWindow {
    display: none;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:15px;
    margin-left:15px;
    background-image: url("img/transparent40.png");
    border-radius: 0px;
    z-index: 90;
}

.modalWindow .contents {
    margin-top:8px;
}

